* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2, h3 {
    color: #2e8b57;
    font-weight: bold;
}

footer {
    padding: 20px;
    color: white;
    background-color: #319114;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

nav a:hover {
    font-weight: bold;
    color: #c2fa40; 
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
}

.featured-image-header{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.jumbotron {
    font-size: 25px;
    padding: 40px;
    background-color: #228b22;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: #2e8b57;
    padding: 5px;
    position: sticky;
    top: 0;
}

main {
    padding: 15px;
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: inline;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }
    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }
    main aside {
        align-self: stretch;
    }
}

.btn-register {
    display: inline-block;
    background-color: #28a745; 
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    text-decoration:none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background-color: #218838; 
}

